PORT=#application port

# postgres db url
DATABASE_URL=postgres://dev:dev@postgres:5432/authdb

JWT_PUBLIC_KEY_BASE64=#rca public key in base64
JWT_SECRET_KEY_BASE64=#rca secret key in base64

JWT_REFRESH_EXPIRES_IN=#seconds
JWT_ACCESS_EXPIRES_IN=#seconds
